name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          # Baixa apenas o necessário do Theos (profundidade 1 para evitar erro 128)
          git clone --depth 1 --recursive https://github.com/theos/theos.git $HOME/theos
          # Baixa apenas o SDK do iOS 14.5 (que é o que você precisa)
          mkdir -p $HOME/theos/sdks
          curl -L https://github.com/theos/sdks/raw/master/iPhoneOS14.5.sdk.zip -o $HOME/theos/sdks/sdk.zip
          unzip -q $HOME/theos/sdks/sdk.zip -d $HOME/theos/sdks/
          
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV
          echo "$HOME/theos/bin" >> $GITHUB_PATH

      - name: Build Tweak
        run: |
          make package FINALPACKAGE=1
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MeuModFinal
          path: packages/*.deb
